/*
   _nanoc.scss
   com.wordsmiths.www
     
   Created by kevin on 2012-02-13.
   Copyright 2012 kevin. All rights reserved.
*/

@import "compass/css3";
@import "compass/utilities";


$experimental-support-for-svg: true;


/*
all colors needed for text
*/
$headlineRed: #a52107;
$copyRed: #7b1313;
$copyTurquise: #229778;
$copyDarkBeige: #9f7854;

/*used for backgrounds*/
$headerBeige: #f9f1e8;
$lightBeige: #fbf6f1;
$darkBeige: #f7ebdf;
/*$darkBeige: red;*/
$navTurquise: #39ab8d;

$columnWidth: 188px;
$gutter: 10px;

$borderBoxHorizontalPadding: 20px;

$amaranth: 'Amaranth', Tahoma, Verdana, Segoe, sans-serif;

$color: "transparent";
@mixin borderBox($type, $backgroundColor) {
  @include border-radius(5px);


  background: $backgroundColor;
  @if $type == "dashed" {
      border: 1px dashed lighten($copyDarkBeige, 30%);
      box-shadow:none;
  }@elseif $type == "solid"{
      border: 1px solid lighten($copyDarkBeige, 30%);
      box-shadow: 2px 2px 4px lighten($copyDarkBeige, 40%);
      
  }
}

@mixin addWrapperClassesStyles($section) {
  .#{$section}_wrapper.first{
    padding-top:40px;
  }
  .#{$section}_wrapper.last{
    padding-bottom:40px;
  }
}

@mixin mainMenuNav($section) {
  li#nav_#{$section} {
    background: {
      image: url(../img/nav/#{$section}_bg.png);
    }
    span{
      background-image: url(../img/nav/#{$section}.png);
    }
    a{
      &:link{
        text-decoration:none;
      };
    }
  }
}


@mixin sectionHeading($section) {
  .#{$section}{
    >h2{
      background: {
        image: url(../img/#{$section}_heading.png);
      }
      padding-top:104px;
    }
  }
}

@include addWrapperClassesStyles(home);
@include addWrapperClassesStyles(writing_services);
@include addWrapperClassesStyles(additional_services);
@include addWrapperClassesStyles(our_clients);
@include addWrapperClassesStyles(about_us);
@include addWrapperClassesStyles(contact_us);

@include mainMenuNav(writing_services);
@include mainMenuNav(additional_services);
@include mainMenuNav(our_clients);
@include mainMenuNav(about_us);
@include mainMenuNav(contact_us);

@include sectionHeading(writing_services);
@include sectionHeading(additional_services);
@include sectionHeading(our_clients);
@include sectionHeading(about_us);
@include sectionHeading(contact_us);



.home_wrapper:nth-child(2)>.home{
  width: 3 * $columnWidth + 2 * $gutter;
}
.home_wrapper:nth-child(3)>.home{
  width: 5 * $columnWidth + 4 * $gutter;
}

.home_wrapper.first{
  padding-top:23px;
}

.home_wrapper,
.additional_services_wrapper{
  background:$darkBeige;
/*  .borderBox{
    background-color:$lightBeige;
  }*/
}
.writing_services_wrapper,
.our_clients_wrapper,
.contact_us_wrapper{
  background:$lightBeige;
/*  .borderBox{
    background-color:$darkBeige;
  }*/
}








.additional_services,
.writing_services,
.imprint{
  width: 3 * $columnWidth + 2 * $gutter;
  z-index:1;
}

.our_clients,
.about_us,
.contact_us{
 width: 5 * $columnWidth + 4 * $gutter;
}

.our_clients{
  ul{
    margin:0;
    padding:0;    
    li{
      h3{
        text-align:left;
      }
      
      list-style-type:none;
      float:left;
      width: 1.7 * $columnWidth;
      vertical-align:top;
      margin-right: $gutter;      
    }
    li:last-child{
      margin-right:0;
    }
  }
}

.about_us{
  dl{
    display:none;
  }
  img, 
  li{
    margin-top: -120px;
  }
  
  ul{
    position:relative;
    margin:0;
    list-style-type:none;
    li{
      top:265px;
      text-align:center;
      h3{
        text-align:center;
        font-size:34px;
        margin:0;
        line-height:1em;
      }
      position:absolute;
    }
    p{
      color: $copyDarkBeige;
    }
    a{
      background: {
        image:url(../img/icons/linkedIn.png);
        position: bottom center;
        repeat:no-repeat;
      };
      padding-bottom:22px;
    }
    li:nth-child(1){
      left:230px;
    }
    li:nth-child(2){
      right:230px;
    }
  }
}

body {
  padding-top:113px;
  background-color:$darkBeige;
}

h1{
  font-family: $amaranth;
}

h2{
  margin-top:0;
  margin-bottom:0;
  color: $headlineRed !important;
  font: 18px/200% $amaranth;
  text:{
    shadow: rgba(0, 0, 0, .15) 0px -1px 1px, rgba(255, 255, 255, .6) 0px 0px 1px, rgba(255, 255, 255, 0.4) 0 1px 1px;
    align: center;
  }
  background: {
    repeat: no-repeat;
    position: top center;
  }
}


h3{
  color: $headlineRed !important;
  font: 18px/200% $amaranth;
  text:{
    shadow: rgba(0, 0, 0, .15) 0px -1px 1px, rgba(255, 255, 255, .6) 0px 0px 1px, rgba(255, 255, 255, 0.4) 0 1px 1px;
    align: left;
  }
  background:none !important;
  height:auto;
  padding:0 !important;
}

h4{
  color: $copyDarkBeige;
  text-align:center;
  display:block;
  margin-top:0;
  padding-bottom:12px;
  background:{
    image: url(../img/arrow_down.png);
    repeat: no-repeat;
    position: center bottom;
  }  
  vertical-align: top;
  font:{
    style: italic;
    family: Nobile, sans-serif;
    size: 11px;
    weight: normal;
  }
}
blockquote,
blockquote>p {
  @extend h4;
  background-image:none;
  text-align:left;
  margin:0;
  padding:0;
}

a:link,
a:visited{
  color: $copyTurquise;
}
header{
  width:100%;
  z-index:3;
  #logo{
    cursor:pointer;
  }
  #navigationWrapper{
    width: 5 * $columnWidth + 4 * $gutter;
    margin:auto;
    display:block;
  }  
  background:{
    color: $headerBeige;
    position: bottom left;
  }

  img{
    position:absolute;
    z-index:2;
  }
  position:fixed;
  top:0px;
}
#border{
  position:absolute;
  top:95px;
  display:block;
  width:100%;
  height:45px;
  z-index:1;
  @include background(image-url("/img/header_edge.png"), linear-gradient(top,rgba(176,126,80,0.2), rgba(176,126,80, 0)));
  background:{

    repeat: repeat-x, repeat-x;
  }
}

.multiplebgs #border{
/*  background-image:image-url("/img/header_edge.png");*/
  height:20px;
}


.wrapper{
  width:100%;
  padding-bottom:20px;
}


#nav{
  height:95px;
  list-style-type:none;
  float:right;
  margin:0;
  padding:0;

  li:before{

    height:95px;
    display:block;
    width:2px;
    float:left !important;
    padding-right:10px;
    background:{
      image: image-url("../img/nav/divider.png");
      position:0 50px;
      repeat:no-repeat;
    }
    content: " "

  };
  li{
    @include experimental(transition, color 0.4s ease-in-out);
    text-align:center;
    vertical-align:top;
    font: 16px/200% $amaranth;
    color: $navTurquise;
    float:left;
    height:70px;
    background: {
      repeat: no-repeat;
      position:top center;
      
    }
    a{
      padding:0 10px;
      white-space:nowrap;
      display:block;
      span{
        margin:auto;
        width:100px;
        @include experimental(transition, background-position 0.2s ease-in-out);
        position: relative;
        top: -10px;
        height: 69px;
        display:block;
        margin-bottom:-13px;
        background: {
          repeat: no-repeat;
          position: 0 10px;
        } 
      }    
    }      
  }
  li.active a,
  li:hover a{
    color: $headlineRed;
    span{
       background-position: 0 0px;
     }
  }
  
}


.home,
.writing_services,
.additional_services,
.about_us,
.our_clients,
.contact_us,
.imprint{
  margin:auto;
/*  padding-top:20px;*/
}



.borderBox{
/*  @include borderBox(solid, red);*/
  padding: 22px $borderBoxHorizontalPadding 16px $borderBoxHorizontalPadding;
  width: 3 * $columnWidth + 2 * $gutter - 2 * $borderBoxHorizontalPadding;
  h2{
    text-align:left;
  }
}

.home{
  &.borderBox {
    @include borderBox(solid, $lightBeige)
  }
    
  h2{
    font-size: 32px;
    line-height:106%;
    margin-top:14px;
    #heart{
      background:{
        image:url(../img/heart.png);
        repeat: no-repeat;
        position: cetner center;
      }
      text-indent:-3000px;
      width:37px;
      height:31px;
      display:inline-block;
    }
  }
  
  ol{
    width: 5 * $columnWidth + 4 * $gutter;
    padding:0;
    counter-reset:item;
    li:before{
      content: counter(item);
      counter-increment: item;
      
      background:{
        image: url(../img/step_bg.png)
      }
      vertical-align:0;
      display:block;
      float:left;
      text-align:center;
      width:25px;
      height:22px;
      margin: {
        top:10px;
        right:5px;
      }
    
      font-weight: bold;
      font-family: $amaranth;
      color: white;
    }
    li:last-child{
      margin-right: 0;
    
    }
    li{
      list-style-type: none;
      float:left;
      width: $columnWidth;
      vertical-align:top;
      margin-right: $gutter;
      padding:0;
      h2{
        text-align:left;
        font-size:18px;
      }
      em{
        @extend h4;
        margin-top:-12px;
        font-size:11px;
        text-align:left;
        background-image: url(../img/arrow_right.png)
      }
    }
  }
}


.home.borderBox>p,
.home.borderBox>h2{
  text-align:center;
  width: 2 * $columnWidth + $gutter;
  margin:auto
}

p, dd{
  color: $copyRed;
  font: {
    family: Nobile, sans-serif;
    size: 13px;
    style: italic;
  }
  
}



.writing_services{
  &.borderBox {
    @include borderBox(solid, $darkBeige);
  }
  dt{
    &.active{
      @include borderBox(solid, $darkBeige);
    }
    &:hover{
      @include borderBox(solid, $darkBeige);
    }
  }  
}

.additional_services{
  &.borderBox {
    @include borderBox(solid, $lightBeige);
  }
  dt{
    &.active{
      @include borderBox(solid, $lightBeige);
    }
    &:hover{
      @include borderBox(solid, $lightBeige);
    }
  }
}

.additional_services,
.writing_services{
  dl{
    position: relative;
    margin:0;
    padding:0;
    width: 3 * $columnWidth + 2 * $gutter;
  }
  dt,dd{
    @include borderBox(dashed, transparent);
    @include experimental(transition, all 0.2s ease-in-out);
    margin-bottom:20px;
  }
  dt{
    position: relative;
    height:35px;
    @include experimental(transition, color 0.2s ease-in-out);
    span{
      position:absolute;
      z-index:2;
      line-height:34px;
      display:block;
      width:100%;
    }
    canvas{
      @include experimental(transition, all 0.2s ease-in-out);
      position:absolute;
      top:-1px;
      left:-2px;
      z-index:1;
      opacity:0;
    }
    &:hover{
      border: 1px solid transparent;
      background-color:transparent;
      canvas{
        opacity: 1;
      }
    }
    &.active{
      border: 1px solid transparent;
      background-color:transparent;
      color: $headlineRed;
      canvas{
        opacity: 1;
      }
    }
    font: 15px/200% $amaranth;
    color: #24998A;
    width: $columnWidth - 12px;
    line-height:200%;
    padding: {
      left: 12px
    }
    margin: {
      bottom: 5px;
    }
  }
  
  dd{
    float: right;
    width: 2 * $columnWidth + $gutter - 2 * $borderBoxHorizontalPadding;
    margin: 0;
    clear: both;
    position: absolute;
    top: 0;
    right: 0;
    padding: $borderBoxHorizontalPadding;
  }
}
/*nice*/
.contact_us{
  .contactBox{
    @include borderBox(dashed, transparent);
    width: 1.7 * $columnWidth - 2* $borderBoxHorizontalPadding - 10px;
    float: right;
    h4{
      text-align:left;
      background-position:left bottom;
    }
    
    li{
      font-size:11px;
      color: $copyTurquise;
      background:{
        repeat:no-repeat;
        position: left center;
      };
      padding-left: 30px;
      line-height: 20px;
      margin-bottom: 4px;
      &.mail{
        background: {
          image:url(../img/icons/mail.png)
        };
      }
      &.linkedIn{
        background: {
          image:url(../img/icons/linkedIn.png)
        };
      }
      &.phone{
        background: {
          image:url(../img/icons/phone.png)
        };
      }
      &.twitter{
        background: {
          image:url(../img/icons/twitter.png)
        };
      }
      &.facebook{
        background: {
          image:url(../img/icons/facebook.png)
        };
      }
      
    }
    
  }
    
  form{
    @include borderBox(solid, $darkBeige);
    padding: 22px $borderBoxHorizontalPadding 16px $borderBoxHorizontalPadding;
    float:left;
    width: 3.4* $columnWidth + $gutter - 2 * $borderBoxHorizontalPadding + $gutter/2;
  }
  
  ul{
    list-style-type:none;
    margin:0;
    padding:0;
    label{
      @extend h4;
      background:none;
      text-align:left;
    }
    li#foli1,
    li#foli3{
      float:left;
    }
    li#foli2,
    li#foli4{
      float:right;
    }
    li#foli1,
    li#foli2,
    li#foli3,
    li#foli4 {
      width:floor(1.7 * $columnWidth + 2 - $borderBoxHorizontalPadding);

/*      float:left;*/
      label{
        width:80px;
        height:20px;
        line-height:20px;
        float:left;
        display:block;
        text-align:right;
        padding-right:5px;
      }
    }
    li#foli5{
      float:none;
      clear:both;
      width:100%;
      display:block;
      margin-bottom:15px;
      label{
        padding-bottom:3px;
      }
    }
    input, textarea{
      border: 1px solid #F1C2AA;
      background: white;
/*      width:100%;*/
    }
    
    textarea{
      width: ($columnWidth * 2 * 1.7) + $gutter - (2 * $borderBoxHorizontalPadding) - 2;
    }
    
    .buttons{
      label{
        text-align:right;
        width:50%;
        float:right;
        line-height:28px;
        padding-right:5px;
      }
      #saveForm{
        @include borderBox(dashed, $darkBeige);
        height:30px-7px;
        float:right;
        text-transform: uppercase;
        font-family: $amaranth;
        color: $copyTurquise;
      }
    }
    
  }
}
.imprint_wrapper.first{
    border-top: 6px solid #33B2A2;
}
.imprint {
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  h2 {
    position:relative;
    top:-18px;
    color: white !important;
    cursor: pointer;
    text-align: center;
    font-size: 11px;
    background-image: url(../img/imprint_background.png);
    background-position: top center;
    background-repeat: no-repeat;
    height: 12px;
    border-bottom: 6px solid #33B2A2;
  }
  

  h3{
    text-align:left;
    border:0;
    color: $copyTurquise !important;
    font-family: $amaranth;
    font-size: 14px;
    line-height: 38px;
    position: relative;
    top:0px;
    margin:0;
  }

  h4{
    text-align:left;
    background:none;
    color: $copyTurquise;
    margin:0;
    position: relative;
    top:0px;
    
  }
  p,
  address{
    font-size:11px;
    margin-bottom:2em;
    color: $copyDarkBeige;
  }
  address{
    text-align:center !important;
  }
}

/*
  section: ipad/small
*/
@media screen and (max-width: 1023px) {
  /*
    section: general styling 
    layout:  ipad/small
  */    
  body{
    padding-top:220px;
  }

  /*
    section: header/navigation
    layout:  ipad/small
  */
  header{
    #navigationWrapper{
      width: 100%;
      text-align: center;
      overflow:hidden;

      #logo{
        padding-left: 60px;
        width: 268px;
        display:block;
        margin:auto !important;
        position:static;
      }

      ul { 
        list-style: none; 
        position: relative; 
        float: left; 
        display: block; 
        left: 50%; 
        li { 
          position: relative; 
          float: left; 
          display: block; 
          right: 50%;}
      }
    }
    #border{
      top:210px;
    }
  }

  /*
    section: home
    layout:  ipad/small
  */
  .home_wrapper:nth-child(3)>.home{
    width: 3 * $columnWidth + 2 * $gutter;
    ol{
      width: 3 * $columnWidth + 2 * $gutter;
    }
    li{
      width: 3 * $columnWidth + 2 * $gutter;
      em{
        background-position:bottom left;
      }
    }
  }
  
  /*
    section: our_clients
    layout:  ipad/small
  */
  .our_clients{
    width: 3 * $columnWidth + 2 * $gutter;
    ul{
      li{
        list-style-type:none;
        width: 3 * $columnWidth + 2 * $gutter;
      }
    }
  }

  /*
    section: about_us
    layout:  ipad/small
  */
  .about_us{
    width: 3 * $columnWidth + 2 * $gutter;
    img{
      margin:0;
      display:none;
    }
    ul{
      position:static;
      margin:0;
      list-style-type:none;
      li{
        width: (3 * $columnWidth + 2 * $gutter)/2;
        position:static;
        text-align:left;
        float:left;
        h3{
          text-align:left;
          font-size:34px;
          margin:0;
          line-height:1em;
        }
      }
    }
  }

  /*
    section: contact_us
    layout:  ipad/small
  */
  .contact_us{
    width:100%;
    form{
      float:none;
      clear:both;
      margin:auto !important;
    }
    .contactBox{
      float:none;
      clear:both;
      margin:auto;
      margin-top:20px;
    }  
  }
}


/*
  section: mobile/iphone layout
*/

@media screen and (max-width: 767px) {
  
  /*
    section: general styling 
    layout:  mobile
  */  
  body{
    padding-top:0;
  }  
  
  .wrapper{
    width:100%;
  }

  .additional_services, 
  .writing_services, 
  .imprint,
  .our_clients,
  .about_us,
  .contact_us form{
  width: 80%;
  z-index: 1;
  }
  
  /*
    section: header/navigation
    layout:  mobile
  */
  header{
    position:static;
    #navigationWrapper{
      height:auto;
      widht:100%;
      overflow: hidden;
      
      ul{
        float:none;
        position:static;
        li{
          @include experimental(background-size, contain);
          position:static;
          float:none;
          clear:both;
          line-height:100px;
          line-height: 60px;
          height: 60px;
          text-align: left;

          background-position:left center;
          span{
            height: 60px;
            width: 65px;
            position: relative;
            left: -10px;
            float:left;
            @include experimental(background-size, contain);
          }
        }
      }
    }
    #border{
      position: relative;
      top: 48px;
    }
  }

  /*
    section: home
    layout:  mobile           
  */
  .home_wrapper{
    &:nth-child(2),
    &:nth-child(3) {
      >.home{
        width: 80%;
        ol,li{
          width:100%;
        }
      }
    }
    .home{
      &.borderBox{
        > p,
        > h2 {
          text-align: center;
          width: 80%;
          margin: auto;
        }
      } 
    }      
  }

  /*
    section: tabs in additional_services and writing_services
    layout:  mobile
  */
  .additional_services,
  .writing_services {
    dl{
      width:100%;
    }
    canvas{
      display:none;
    }
    dt,
    dt.active{
      box-shadow: none;
    }
    dd{
      width: 80%;
    }
    dt,dd{
      width:100%;
      float:none;
      clear:both;
      position:static;
      border:none;
      &:hover{
        box-shadow:none
      };
      &.hidden{
        display:block !important;
        visibility:visible;
      }
    }
  }
  
  /*
    section: our_clients
    layout:  mobile
  */  
  .our_clients{
    ul{
      li{
        width:90%;
      }
    }
  }

  /*
    section: contact_us
    layout:  mobile
  */    
  .contact_us {
    form{
      li#foli1,li#foli2,li#foli3,li#foli4{
          float:right;
      }
      textarea{
        width:100%;
      }
    }
  }
}
